{{attach_library('reservations/reservations')}}

<head>
  <script src = "https://code.jquery.com/jquery-3.6.0.js"></script>
</head>

<body>
  <h3>Please select movie genre for which you would like to make a reservation: </h3>
  <select id="genre" name="genre">
    <option value = ""> Select movie genre: </option>
    {% for genre in genres %}
      <option value = "{{genre.tid.value}}"> {{genre.name.value}} </option>      
    {% endfor %}
  </select>

    <ul>
      {% if movies is not empty %}
        {% for movie in movies %}
          <li class="list_item" value="{{movie.nid.value}}">
            <div class="item">
              <h3 id="movie-title-{{movie.nid.value}}"> Name of movie: {{movie.field_title.value | raw}} </h3>
              <img id="movie-image-{{movie.nid.value}}" src="{{file_url(movie.field_image_mov.entity.fileuri)}}" width="300" height="200" />
              <h3 id="movie-description-{{movie.nid.value}}"> Description: {{movie.field_description.value | raw}} </h3>
              <br><button type="button" class="button" style="background-color: green" id="reservations-button-{{movie.nid.value}}"> Reserve this movie </button>
            </div>
          </li>        
        {% endfor %}    
      {% else %}
      {
        <h3> Sorry, we do not have movies with selected genre yet. </h3>
      }
      {% endif %}
    </ul>

     <form id="formInputName" name="formInputName">
            <label> Enter your name here: </label>
            <input type="text" id="customerName" name="customerName" title="Numbers are not allowed" required maxlength="10"> 
            <button type="button" class="button1" > Try again </button>     
    </form>
</body>
